<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./register.component.css">
</head>
<body>
    <div class="container">
        <mat-card>
          <mat-card-title>Register</mat-card-title>
          <mat-card-content>
            <form (ngSubmit)="onRegister()" #registerForm="ngForm">
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
              </mat-form-field>
      
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" type="email" required>
              </mat-form-field>
      
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [(ngModel)]="user.password" name="password" type="password" required>
              </mat-form-field>
      
              <button mat-raised-button color="primary" type="submit">Register</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      
</body>
</html>